<row>
<h1> Actions</h1>
<table>
    <th>
        <td>Type</td>
        <td>Price</td>
        <td>Time</td>
    </th>
    {{#each actions}}
        <tr>
            <td>{{type}}</td>
            <td>{{price}}</td>
            <td>{{time}}</td>            
        </tr>
        {{/each}}
</table>

</row>